/* Body*/
body{
    color: white;
    overflow-x: hidden;
    margin: 0;
}
/* Header styling */

/* main header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
}

.spacexheader {
    display: flex;
    gap: 10px;
    justify-content: space-around;



}
/* logo - header part */
.logo img{
    max-width: 150px;
    height: auto;
    padding-top: 10px;
    justify-content: left;
}

 /* navigation links */
.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #EDEDF7;
    display: flex;
    text-decoration: none;
    font-family: "D-DIN", sans-serif;
    font-weight: 700;
    font-size: 13px;
    font-style: normal;
    line-height: 12px;
    justify-content: space-around;
    
}

.nav-links ul{
    display: flex;
    flex: 1;
    list-style-type: none;
    gap: 12px;
}

/* upcoming nav part */
.upcoming{
    display: flex;
    gap: 20px;
    font-family: "D-DIN", sans-serif;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
    line-height: 9px;
    color: rgba(240, 240, 250, 0.9);
    align-items: center;
    border-style: solid;
    border-width: thin;
}

/* hero part */
.hero-part {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-over {
  position: absolute;
  left: 80px;
  bottom: 100px;
  color: white;
  z-index: 2;
}

.button {
    border-style: solid;
    border-width: thin;
    padding: 14px 24px 14px 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    color: white;
    border-radius: 7px;

    font-family: "D-DIN", sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
    
}

.text-over a {
    text-decoration: none;
}

.text-over a:hover {
    background-color: white;
    color: black;

}

